.block{
	width: 100px;
	height: 100px;
	background: red;
	border-radius: 50%;
	position: relative;

	/*animation-name: animatsiya;
	animation-duration: 8s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-delay: 2s;
	animation-fill-mode: forwards;*/

	animation: animatsiya 8s linear infinite alternate 2s forwards;

}
.block:hover{
	animation-play-state:paused;
}

@keyframes animatsiya{
0%{
    left:0;
}
25%{
   background: green;
}
50%{
	background: blue;
}
100%{
    left:800px;
    background: black;
    border-radius: 0%;
    width: 300px;
}
}